/* body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
} */
h1{
    font-weight: 100;
    text-align: center;
}
p{
    font-size: large;
    text-align: center;
}
.resortimg{
    height: 40vh;
    width: 80vh;
    margin-left: 6rem;
}
