body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.navbar {
    background-color:antiquewhite;
    overflow: hidden;
}
.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a:hover {
    background-color:white;
    color: black;
}
.navbar .logo {
    font-size: 20px;
    font-weight: bold;
}
@media screen and (max-width: 600px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}
.sh{
    font-size: large;
    color: white;
    background-color: aliceblue;
}
p{
    align-items: center;
}
.moving-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    animation: moveBackground 15s linear infinite;
    z-index: -1; /* Place it behind other content */
}

@keyframes moveBackground {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

.content {
    position: relative;
    z-index: 1; /* Bring content above background */
}